body{
    margin: 0px;
}
ul{
	
	list-style-type: none;
	padding-left: 0px;
}
.logo{
margin-top: 30px;
margin-left: 30px;
width: 100px;
margin-bottom: 22.5px;
}
.navigation{
	margin-left: 30px
}
.navigation-a{
	padding-top: 7.5px;
	padding-bottom: 7px;
	display:inline-block;
	text-decoration: none;

}
.banner-section{
	
	
}
.banner-img{
	margin-top: 22.5px;
	margin-left: 30px
}
/*footer*/
.soutial-li{
	display: inline-block;
	
}
.soutial-img1{
	margin-left: 30px
}
.soutial-img2{
	margin-left: 5px;
}